# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Object files
*.o
*.ko
*.obj
# Executables
minishell
*.out
*.exe
# Libraries
*.a
*.so
*.dylib
# Build directories
/objs/
/obj/
/build/
# Editor files
*.swp
*.swo
.vscode/
.DS_Store
